In [2]:
import os

In [15]:
os.chdir('/Users/joe/Temp')

In [16]:
print(os.getcwd())

/Users/joe/Temp

In [17]:
for f in os.listdir():
    print(f)

Venus - Our solar system - #3.txt
Mercury - Our solar system - #2.txt
Mars - Our solar system - #5.txt
Pluto - Our solar system - #10.txt
Neptune - Our solar system - #8.txt
Jupiter - Our solar system - #6.txt
Uranus - Our solar system - #9.txt
Earth - Our solar system - #4.txt
Saturn - Our solar system - #7.txt
The Sun - Our solar system - #1.txt

In [18]:
for f in os.listdir():
    print(os.path.splitext(f))

('Venus - Our solar system - #3', '.txt')
('Mercury - Our solar system - #2', '.txt')
('Mars - Our solar system - #5', '.txt')
('Pluto - Our solar system - #10', '.txt')
('Neptune - Our solar system - #8', '.txt')
('Jupiter - Our solar system - #6', '.txt')
('Uranus - Our solar system - #9', '.txt')
('Earth - Our solar system - #4', '.txt')
('Saturn - Our solar system - #7', '.txt')
('The Sun - Our solar system - #1', '.txt')

In [19]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    print(file_name)

Venus - Our solar system - #3
Mercury - Our solar system - #2
Mars - Our solar system - #5
Pluto - Our solar system - #10
Neptune - Our solar system - #8
Jupiter - Our solar system - #6
Uranus - Our solar system - #9
Earth - Our solar system - #4
Saturn - Our solar system - #7
The Sun - Our solar system - #1

In [20]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    print(file_name.split('-'))

['Venus ', ' Our solar system ', ' #3']
['Mercury ', ' Our solar system ', ' #2']
['Mars ', ' Our solar system ', ' #5']
['Pluto ', ' Our solar system ', ' #10']
['Neptune ', ' Our solar system ', ' #8']
['Jupiter ', ' Our solar system ', ' #6']
['Uranus ', ' Our solar system ', ' #9']
['Earth ', ' Our solar system ', ' #4']
['Saturn ', ' Our solar system ', ' #7']
['The Sun ', ' Our solar system ', ' #1']

In [21]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    f_title, f_course, f_num = file_name.split('-')
    print(f_title)

Venus
Mercury
Mars
Pluto
Neptune
Jupiter
Uranus
Earth
Saturn
The Sun

In [22]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    f_title, f_course, f_num = file_name.split('-')
    print(f_course)

 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system

In [23]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    f_title, f_course, f_num = file_name.split('-')
    print(f_num)

 #3
 #2
 #5
 #10
 #8
 #6
 #9
 #4
 #7
 #1

In [24]:
for f in os.listdir():
    file_name, file_ext =(os.path.splitext(f))
    f_title, f_course, f_num = file_name.split('-')
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, file_ext))

 #3- Our solar system -Venus .txt
 #2- Our solar system -Mercury .txt
 #5- Our solar system -Mars .txt
 #10- Our solar system -Pluto .txt
 #8- Our solar system -Neptune .txt
 #6- Our solar system -Jupiter .txt
 #9- Our solar system -Uranus .txt
 #4- Our solar system -Earth .txt
 #7- Our solar system -Saturn .txt
 #1- Our solar system -The Sun .txt

In [25]:
for f in os.listdir():
    f_name, f_ext =(os.path.splitext(f))
    f_title, f_course, f_num = f_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

#3-Our solar system-Venus.txt
#2-Our solar system-Mercury.txt
#5-Our solar system-Mars.txt
#10-Our solar system-Pluto.txt
#8-Our solar system-Neptune.txt
#6-Our solar system-Jupiter.txt
#9-Our solar system-Uranus.txt
#4-Our solar system-Earth.txt
#7-Our solar system-Saturn.txt
#1-Our solar system-The Sun.txt

In [26]:
for f in os.listdir():
    f_name, f_ext =(os.path.splitext(f))
    f_title, f_course, f_num = f_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:]
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

3-Our solar system-Venus.txt
2-Our solar system-Mercury.txt
5-Our solar system-Mars.txt
10-Our solar system-Pluto.txt
8-Our solar system-Neptune.txt
6-Our solar system-Jupiter.txt
9-Our solar system-Uranus.txt
4-Our solar system-Earth.txt
7-Our solar system-Saturn.txt
1-Our solar system-The Sun.txt

In [27]:
for f in os.listdir():
    f_name, f_ext =(os.path.splitext(f))
    f_title, f_course, f_num = f_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

03-Our solar system-Venus.txt
02-Our solar system-Mercury.txt
05-Our solar system-Mars.txt
10-Our solar system-Pluto.txt
08-Our solar system-Neptune.txt
06-Our solar system-Jupiter.txt
09-Our solar system-Uranus.txt
04-Our solar system-Earth.txt
07-Our solar system-Saturn.txt
01-Our solar system-The Sun.txt

In [28]:
for f in os.listdir():
    f_name, f_ext =(os.path.splitext(f))
    f_title, f_course, f_num = f_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print('{}-{}{}'.format(f_num, f_title, f_ext))

03-Venus.txt
02-Mercury.txt
05-Mars.txt
10-Pluto.txt
08-Neptune.txt
06-Jupiter.txt
09-Uranus.txt
04-Earth.txt
07-Saturn.txt
01-The Sun.txt

In [29]:
for f in os.listdir():
    f_name, f_ext =(os.path.splitext(f))
    f_title, f_course, f_num = f_name.split('-')
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    new_name ='{}-{}{}'.format(f_num, f_title, f_ext)
    
    os.rename(f, new_name)

In [30]:
for f in os.listdir():
    print(f)

06-Jupiter.txt
10-Pluto.txt
02-Mercury.txt
08-Neptune.txt
03-Venus.txt
04-Earth.txt
07-Saturn.txt
09-Uranus.txt
05-Mars.txt
01-The Sun.txt